In [259]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [320]:
mill = pd.read_csv('movie_bd_v5.csv')
mill.head(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015

In [261]:
mill.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

In [262]:
mill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
dtypes: float64(1), int64(4), object(9)
memory usage: 206.7+ KB

# Предобработка

In [263]:
answers = {}

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [264]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# +

In [265]:
mill[mill['budget'] == mill['budget'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [266]:
answers['2'] = '2. Gods and Generals (tt0279111)'
# +

In [267]:
mill[mill['runtime'] == mill['runtime'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

In [268]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)'}

# 3. Какой из фильмов самый короткий (в минутах)?

In [269]:
answers['3'] = '2. Winnie the Pooh (tt1449283)'
# +

In [270]:
mill[mill['runtime'] == mill['runtime'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,4/13/2011,6.8,2011

# 4. Какова средняя длительность фильмов?

In [271]:
answers['4'] = '2. 110'
# +

In [272]:
round(mill['runtime'].mean())

110

# 5. Каково медианное значение длительности фильмов?

In [273]:
answers['5'] = '1. 107'
# +

In [274]:
round(mill['runtime'].median())

107

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [275]:
answers['6'] = '5. Avatar (tt0499549)'
# +

In [276]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']

mill[mill['profit'] == mill['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [277]:
answers['7'] = '5. The Lone Ranger (tt1210819)'
# +

In [278]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']

mill[mill['profit'] == mill['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [279]:
answers['8'] = '1. 1478'
# +

In [280]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']

len(mill[mill['profit'] > 0])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [281]:
answers['9'] = '4. The Dark Knight (tt0468569)'
# +

In [282]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
data = mill[mill['release_year'] == 2008]

data[data['profit'] == data['profit'].max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [283]:
answers['10'] = '5. The Lone Ranger (tt1210819)'
# +

In [284]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
data = mill[mill['release_year'].between(2012, 2014)]

data[data['profit'] == data['profit'].min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [285]:
answers['11'] = '3. Drama'
# +

In [286]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['genre'] = mill.genres.str.split('|')
data = mill.explode('genre')

data['genre'].value_counts().sort_values(ascending=False).head(1)

Drama    782
Name: genre, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [287]:
answers['12'] = '1. Drama'
# +

In [288]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
mill['genre'] = mill.genres.str.split('|')
data = mill[mill['profit'] > 0]
data2 = mill.explode('genre')

data2['genre'].value_counts().sort_values(ascending=False).head(1)

Drama    782
Name: genre, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [289]:
answers['13'] = '5. Peter Jackson'
# +

In [290]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
mill['dir'] = mill.director.str.split('|')
data = mill.explode('dir')

data.groupby(['dir'])['profit'].sum().sort_values(ascending=False).head(1)

dir
Peter Jackson    5202593685
Name: profit, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [291]:
answers['14'] = '3. Robert Rodriguez'
# +

In [292]:
mill = pd.read_csv('movie_bd_v5.csv')

mill = mill[mill.genres.str.contains("Action", na=False)]
mill['dir'] = mill.director.str.split('|')
data = mill.explode('dir')

data['dir'].value_counts().sort_values(ascending=False).head(1)

Robert Rodriguez    9
Name: dir, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [293]:
answers['15'] = '3. Chris Hemsworth'
# +

In [294]:
mill = pd.read_csv('movie_bd_v5.csv')

mill = mill[mill['release_year'] == 2012]
mill['actors'] = mill.cast.str.split('|')
data = mill.explode('actors')

data.groupby(['actors'])['revenue'].sum().sort_values(ascending=False).head(1)

actors
Chris Hemsworth    2027450773
Name: revenue, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [295]:
answers['16'] = '3. Matt Damon'
# +

In [296]:
mill = pd.read_csv('movie_bd_v5.csv')

mill = mill[mill['budget'] > mill['budget'].mean()]
mill['actors'] = mill.cast.str.split('|')
data = mill.explode('actors')

data['actors'].value_counts().sort_values(ascending=False).head(1)

Matt Damon    18
Name: actors, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [297]:
answers['17'] = '2. Action'
# +

In [298]:
mill = pd.read_csv('movie_bd_v5.csv')

mill = mill[mill.cast.str.contains("Nicolas Cage", na=False)]
mill['genre'] = mill.genres.str.split('|')
data = mill.explode('genre')

data['genre'].value_counts().sort_values(ascending=False).head(1)

Action    17
Name: genre, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [299]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'
# +

In [300]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
mill = mill[mill.production_companies.str.contains("Paramount Pictures", na=False)]

mill.groupby(['original_title'])['profit'].sum().sort_values(ascending=True).head(1)

original_title
K-19: The Widowmaker   -64831034
Name: profit, dtype: int64

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [301]:
answers['19'] = '5. 2015'
# +

In [302]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']

mill.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [303]:
answers['20'] = '1. 2014'
# +

In [304]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
data = mill[mill['production_companies'].str.contains('Warner Bros')]

data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [305]:
answers['21'] = '4. Сентябрь'
# +

In [306]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['profit'] = mill['revenue'] - mill['budget']
mill['release_date'] = pd.to_datetime(mill['release_date'])
mill['release_month'] = mill['release_date'].map(lambda date: date.month)

mill.groupby(['release_month'])['original_title'].count().sort_values(ascending=False).head(1)

release_month
9    227
Name: original_title, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [307]:
answers['22'] = '2. 450'
# +

In [308]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['release_date'] = pd.to_datetime(mill['release_date'])
mill['release_month'] = mill['release_date'].map(lambda date: date.month)
data = mill[mill['release_month'].between(6, 8)]

len(data['original_title'])

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [309]:
answers['23'] = '5. Peter Jackson'
# +

In [310]:
mill = pd.read_csv('movie_bd_v5.csv')

mill['release_date'] = pd.to_datetime(mill['release_date'])
mill['release_month'] = mill['release_date'].map(lambda date: date.month)
mill = mill.query('release_month in [1, 2, 12]')
mill['dir'] = mill.director.str.split('|')
data = mill.explode('dir')

data['dir'].value_counts().sort_values(ascending=False).head(1)

Peter Jackson    7
Name: dir, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [311]:
answers['24'] = '5. Four By Two Productions '
# +

In [312]:
mill = pd.read_csv('movie_bd_v5.csv')


mill['title'] = mill['original_title'].map(lambda x: len(x.replace(' ', '')))
mill['company'] = mill.production_companies.str.split('|')
data = mill.explode('company')

data.groupby(['company'])['title'].mean().sort_values(ascending=False).head(1)

company
Four By Two Productions    72.0
Name: title, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [313]:
answers['25'] = '3. Midnight Picture Show'
# +

In [314]:
mill = pd.read_csv('movie_bd_v5.csv')


mill['overviews'] = mill['overview'].map(lambda x: len(x.replace(' ', '')))
mill['company'] = mill.production_companies.str.split('|')
data = mill.explode('company')

data.groupby(['company'])['overviews'].mean().sort_values(ascending=False).head(1)

company
Midnight Picture Show    826.0
Name: overviews, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [315]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'
# +

In [316]:
mill = pd.read_csv('movie_bd_v5.csv')

per = round(len(mill) * 0.01)
data = mill.sort_values(by='vote_average', ascending=False).head(per)
data

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [317]:
answers['27'] = 'Daniel Radcliffe & Rupert Grint'
# +

In [318]:
mill = pd.read_csv('movie_bd_v5.csv')

mill_acts_comb = [] 
for cast in mill.cast.str.split('|'):
    mill_acts_comb.extend(list(combinations(cast, 2)))
mill_acts_pair = pd.Series(mill_acts_comb).value_counts()

mill_acts_pair.head(2)

(Daniel Radcliffe, Emma Watson)     8
(Daniel Radcliffe, Rupert Grint)    8
dtype: int64

In [319]:
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '2. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions ',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

### Количество набранных в викторине баллов:
    Ответил на все вопросы вопросы верно

### 1. Какой частью своей работы вы остались особенно довольны?
    - Нет таковой

### 2. Что не получилось сделать так, как хотелось? Над чем ещё стоит поработать?
    - 26 задание, 27 задание

### 3. Что интересного и полезного вы узнали в этом модуле?
    - Закрепил знания по работе с DataFrame, предобработка данных

### 4. Что является вашим главным результатом при прохождении этого проекта?
    - Укрепил знания по Python

### 5. Планируете ли вы менять стратегию изучения последующих модулей?
    - Нет